<header
  [ngClass]="{
    'has-items': listItems().length
  }"
>
  @if(listItems().length){
    <h1>Minha Lista</h1>
  }
  <div
    [ngClass]="{
      'container': listItems().length
    }"
  >
    <label
      class="input-label-text"
      for="inputValue"
      [ngClass]="{
        'remove-margin-bottom': !listItems().length
      }"
    >
      <input
        (keyup.enter)="focusAndAddItem(inputText.value)"
        type="text"
        id="inputValue"
        placeholder="adicione um novo item"
        autofocus
        #inputText
      >
  
      <button
        class="btn btn-primary-circle"
        title="adicionar um novo item"
        (click)="focusAndAddItem(inputText.value)"
      ></button>
    </label>
  </div>
</header>